body{
    background-color:palevioletred;
    padding: 0 0px;
}
.container{
    max-width: 600px;
    width: 80%;
    background-color: white;
    margin: 20px auto;
    padding: 20px;
}
.container .tittle{
    text-align: center;
    text-transform: uppercase;
    color: palevioletred;
    margin-bottom: 20px;
    font-size: 30px;
}
.container .form .input_field
{
    margin-bottom: 15px;
    align-items: center;
    display: flex;

}
.container .form .input_field label
{
    width:200px;
    margin-right: 20px;
    font-size: 20px;
}
.container .form .input_field .input 
{
    border-radius: 2px;
    border: 1px solid palevioletred;
    padding: 8px 20px;
    font-size: 15px;
    width: 245px;
}
.container .form .input_field textarea
{
    border-radius: 2px;
    border: 1px solid palevioletred;
    padding: 8px 10px;
    width: 265px;
    font-size: 15px;
    resize: none;
}
.container .form .input_field .btn{
    width: 100%;
    border: 0;
    padding: 8px 10px;
    font-size: 20px;
    background-color: palevioletred;
    justify-content: space-around;
    cursor: pointer;
    border-radius: 2px;
}
.container .form .input_field:last-child{
    margin-bottom: 0;
}

.container .form .input_field .btn:hover{
    background-color:darkorchid;
}

@media(max-width:420px){
    .container .form .input_field
    {
        flex-direction: column;
        align-items: flex-start;
    }
    .container .form .input_field label{
        margin-bottom: 5px;
    }
}
